*{
    padding: 0;
    margin: 0;
    width: auto;
}

.M-container{
    display: flex;
    flex-flow: column;
}


.zoneg {
    margin:0px 0px;
    height: 35px;
    line-height: 35px;
    cursor:pointer;
    display:inline-block;
    color:#FFF;
    font-size:1em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    position: fixed;
    padding: 0px;
}
.zoner{
    background-image: url("Undraw.png");
    height: 508.5px;
    width: 688px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    text-align: center;
    line-height: 50vh;
    display:inline-block;
    color:rgb(224, 196, 196);
    font-size:2em;
    transition: all 0.3s linear; 
}

.zoneb{
    padding:0px 0px;
    height: 100%;
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
    width: 100%;
}

.grid-wrapper{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    align-items: start;
}

.box{
    height: 250px;
    width: 250px;
    background-color: black;
    margin-top: 20px;
    margin-left: 20px;
    transform: scale (1);
}

.box >img{
height: 125px;
width: 125px;
margin: 62.50px 62.5px;
}


.zoney {
    cursor:pointer;
    display:inline-block;
    background-color:rgb(177, 78, 78);
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    margin-top: 10px;
}


.zoneg:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; 
}
.zoner:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; 
}
.zoneb:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; 
}
.zoney:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;   
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #26dada; /* Old browsers */
    background: -moz-linear-gradient(top, #26dada 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #26dada 0%,#26dada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
    width: 100%;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
/*.red{
   background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%);*/ /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
@media only screen and (width: 375px){
    .grid-wrapper{
        display: flex;
        flex-flow: column;
    }

    .zoner{
        background-image: url("Undraw.png");
        height: 508.5px;
        width: 340px;
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        text-align: center;
        line-height: 50vh;
        display:inline-block;
        color:rgb(224, 196, 196);
        font-size:2em;
        transition: all 0.3s linear;
       
        
    }
    .zoneb{
        padding:0px 0px;
        margin: 0 auto;
        cursor:pointer;
        color:#FFF;
        font-size:2em;
        border-radius:4px;
        border:1px solid #bbb;
        transition: all 0.3s linear;
        width: 80%;
        height: 100%;
        
    }
    .blue{
        background: #7abcff; /* Old browsers */
        background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
        background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
        
    }
    .zoney {
            cursor:pointer;
            display:inline-block;
            background-color:rgb(177, 78, 78);
            font-size:2em;
            border-radius:4px;
            border:1px solid #bbb;
            transition: all 0.3s linear;
            margin-top: 10px;
            display: flex;
            margin-top: 30px;
    }
    .box{
        height: 250px;
        width: 250px;
        background-color: black;
        transform: scale (1);
        margin: 20px auto;
        
    }
}

@media only screen and (width: 768px) {
    .zoneb{
        padding: 0px 0px;
        margin: 0 auto;
        cursor:pointer;
        color:#FFF;
        font-size:2em;
        border-radius:4px;
        border:1px solid #bbb;
        transition: all 0.3s linear;
        width: 80%;
        height: 100%;
    }
        
        .grid-wrapper{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
            align-items: start;
        }
        .box{
            height: 250px;
            width: 250px;
            background-color: black;
            transform: scale (1);
            margin: 20px auto;
            
        }
        .zoney {
            cursor:pointer;
            display:inline-block;
            background-color:rgb(177, 78, 78);
            font-size:2em;
            border-radius:4px;
            border:1px solid #bbb;
            transition: all 0.3s linear;
            margin-top: 10px;
            display: flex;
            margin-top: 30px;
            
       
    }
    @media only screen and (width: 720px) {
        .zoneb{
            padding: 0px 0px;
            margin: 0 auto;
            cursor:pointer;
            color:#FFF;
            font-size:2em;
            border-radius:4px;
            border:1px solid #bbb;
            transition: all 0.3s linear;
            width: 80%;
            height: 100%;
        }
            
            .grid-wrapper{
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
                align-items: start;
            }
            .box{
                height: 250px;
                width: 250px;
                background-color: black;
                transform: scale (1);
                margin: 20px auto;
                
            }
            .zoney {
                cursor:pointer;
                display:inline-block;
                background-color:rgb(177, 78, 78);
                font-size:2em;
                border-radius:4px;
                border:1px solid #bbb;
                transition: all 0.3s linear;
                margin-top: 10px;
                display: flex;
                margin-top: 30px;
                
           
        }
         
    }        
    
}
 
